.header
    margin-top 8px
    width 100vw
    text-align center
    background-color #1abc9c
    color white
    font-size 20px
    position fixed

.option
    padding 10px 10px
    margin 10px 10px
    float left

.option:hover
    color #555
    cursor pointer

.logo
    padding 10px 10px
    margin 10px 10px
    float left
